
.canva {
  background-color: #565a5a;
  width: 500px;
  height: 500px;
}

.cube {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  cursor: grab;

  animation: rotation 2s ease  infinite forwards;
}

/*
@media (width < 400px){
  .cube {
    display: none;
  }
}

@keyframes rotation {
  from {

    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  
} */